{% load static %}
<meta charset="utf-8"/>

<link rel="shortcut icon" href="{% static 'assets/images/send.png' %}" type="image/x-icon">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock %}</title>

<link href="{% static 'libraries/fontawesome/css/all.min.css' %}" rel="stylesheet">
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
<link href="{%static 'resources/assets_argon/css/nucleo-icons.css' %}" rel="stylesheet" />
<link href="{%static 'resources/assets_argon/css/nucleo-svg.css' %}" rel="stylesheet" />
<link href="{%static 'libraries/bootstrap-5.2.0/css/bootstrap.min.css' %}" rel="stylesheet"/>
<link id="pagestyle" href="{%static 'resources/assets_argon/css/argon-dashboard.css' %}?v=2.0.4" rel="stylesheet" />
<link href="{% static 'css/reload.css' %}" rel="stylesheet">

