<section style="position: fixed; z-index: 9; right: 1vw;">
    <div class="square_box box_three"></div>
    <div class="square_box box_four"></div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-12">
            <div class="alert fade alert-simple alert-warning alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">
                <i class="start-icon fa fa-exclamation-triangle faa-flash animated"></i>
                <strong class="font__weight-semibold">Warning!</strong> 
                {% for message in messages %}
                    {{message}}
                {% endfor %}
              </div>
            </div>
        </div>
      </div>
    </div>
</section>

  
        

       
  
        
  
        
  
